.DS_Store
node_modules/
android/.gradle/
android/build/
android/app/build/
ios/Pods/
ios/build/
coverage/
dist/
build/
*.apk
*.keystore
*.env
.env
.env.*
*.log
.cache/
.turbo/
.idea/
*.iml
.vscode/
*.swp
.npm
Thumbs.db
